$body-bg:                   #bdc3c7;
$navbar-inverse-bg:         #9b59b6;
$navbar-inverse-link-color: white;
$brand-primary:             #8e44ad;
$border-radius-base:        0px;
$jumbotron-bg:              #ecf0f1;
@import 'bootstrap';
